.gameArea{
    width: 100vw;
    height: 100vh;
    background-color: #0D0226;
    position: relative;
}

#player{
    width: 9rem;
    height: 9rem;
    position: absolute;
    left: 45%;
    bottom: 2rem;
    border-radius: 50% 50% 0 0;
    background: url("../assets/playerCraft.svg") center no-repeat;
    background-size: contain;
}

#laser{
    display: none;
    position: absolute;
    bottom: 10rem;
}

.shoot{
    animation: shoot 0.9s ease;
    display: block !important;
}

@keyframes shoot {
    0%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(-120vh);
    }
}

.playerLaserLeft{
    position: absolute;
    left: 0.2rem;
    width: 0.2rem;
    height: 3.8rem;
    background: rgba(5, 131, 228, 0.94);
    border: 3px solid #1B568E;
    box-shadow: 0px 0px 4px 4px rgba(99, 187, 255, 0.94);
    border-radius: 0px 0px 5px 5px;
    transform: rotate(-179.63deg);
}

.playerLaserRight{
    position: fixed;
    left: 8rem;
    width: 0.2rem;
    height: 3.8rem;
    background: rgba(5, 131, 228, 0.94);
    border: 3px solid #1B568E;
    box-shadow: 0px 0px 4px 4px rgba(99, 187, 255, 0.94);
    border-radius: 0px 0px 5px 5px;
    transform: rotate(-179.63deg);
}